@model IEnumerable<MuseuAMSG3.Models.Bilheteria>

@{
    ViewData["Title"] = "Index";
}

<h1>Bilheteria</h1>

<p>
    <a asp-action="AddBilheteria">Criar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                    <a asp-action="BilheteriaEdit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="BilheteriaDetails" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="BilheteriaDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
